*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:85%;
	margin:auto;
}
.header{
	height:50vh;
	width:100%;
	border:1px solid yellow;
}
.head{
	height:50vh;
	width:100%;
	border:1px solid green;
	text-align:center;
}
.head h1{
	font-size:20px;
	margin-top:20vh;
}
.head p{
	font-size:21px; 
}
.head p a{
	text-decoration:none;
}